In [1]:
# Especialização em Ciência de Dados - PUC-Rio
# Machine Learning
## Trabalho Final: Classificação, dataset Census

---


__Alunos:__ <br>
        Cícero Felipe Ricci Bressane <br>
        José Douglas Nascimento <br>
        Ronaldo Costa <br>
        Victor Mouffron Carvalho Machado

---

# Sumário:
1 [Importing Libraries](#scrollTo=_2oUOp-mixIv)

* [Loading Data](#teste)

* [Exploratory Data Analysis](#scrollTo=nNnaPdClkRvC)

   * 1.1 [Cleaning the data](#scrollTo=v8xSbpLqkVon)

   * 1.2 [Handing Numerical Attributes](#scrollTo=uOcQwld3ZR0S)

   * 1.4 [Handling Categorical Attributes](#scrollTo=Ncrvd9RUtDw2)

## Descrição dos dados

Este trabalho utilizou o [Census Dataset](https://archive.ics.uci.edu/ml/datasets/census+income) da UCI Machine Learning Repository.  

O dataset contem 3 (três arquivos): 

*   [adult.names](https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names) - descrição do dataset
*   [adult.data](https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data) - dataset de treino
*   [adult.test](https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test) - dataset de teste 


Trata-se de um dataset com informações como: age, occupation, education, working class, etc. O objetivo do trabalho é treinar com a utilização de algorítmos classificadores para predizer a renda entre as seguintes faixas: 

    '>50K' e '<50K'
    

Os dados são compostos de variáveis categóricas, numéricas e também contém <i>missing values</i>. 

Cada linha (instância) representa uma pessoa e possui rótulo indicando se a renda é maior ou menor que 50.000.

Conforme descrito acima, os dados que vamos utilizar foram divididos em 2 datasets: `treino` e `teste`. O arquivo `treino` será usado para montarmos nosso modelo e no arquivo `teste` testaremos nosso modelo.

<colgroup><col align="left"><col align="left"></colgroup><thead><tr><th style="border-bottom: 0.5pt solid ; " valign="bottom" align="left">
<p>Colunas</p>
</th><th style="border-bottom: 0.5pt solid ; " valign="bottom" align="left">
<p>Descrição</p>
</th></tr></thead><tbody><tr><td style="" valign="top" align="left">
<p>
<code class="literal">age</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se a idade da pessoa</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">work class</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se ao tipo de empregado</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">education</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se ao nível de educação da pessoa</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">marital_status</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se se a pessoa é casada ou não</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">occupation</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refer-se ao tipo de trabalho da pessoa</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">relationship</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se ao estado civil da pessoa</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">race</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se à cor da pele da pessoa</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">gender</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se ao sexo da pessoa</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">hours_per_week</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se a média de horas trabalhadas por semana</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">native_country</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se ao país de origem</p>
</td></tr><tr><td style="" valign="top" align="left">
<p>
<code class="literal">income</code>
</p>
</td><td style="" valign="top" align="left">
<p>Refere-se ao atributo-meta que indica se uma pessoa recebe mais do que $50K por ano</p>
</td></tr></tbody>

![Renda](img/dinheiro2.gif)

In [ ]:
Los atributos de los que disponemos son:
age: atributo numérico que expresa la edad de la persona.
workclass: atributo categórico que expresa el tipo de empleo que tiene la persona. Los valores que
puede tomar son:
• Private: persona contratada en una empresa privada.
• Self-emp-not-inc: autónomo.
• Self-emp-inc: persona que tiene una empresa grande.
• Federal-gov: funcionario del gobierno federal.
• Local-gov: funcionario del gobierno local.
• State-gov: funcionario del gobierto estatal.
• Without-pay: persona en paro.
• Never-worked: persona que nunca ha trabajado.
fnlwgt (final weight): variable numérica que representa un peso, cada peso corresponde a una
característica socio-económica de la población, por tanto, personas con características demográficas
parecidas deben tener un peso parecido. [2]
education: variable categórica que representa el nivel de estudios de la persona. Los valores que puede
tomar son: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th,
12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: variable númerica que representa a la anterior.
marital-status: variable categórica que expresa el estado civil de la persona. Los valores que puede
tomar son:
• Married-civ-spouse: la persona está casada con un civil.
• Divorced: la persona está divorciada.
• Never-married: la persona nunca ha estado casada.
• Separated: la persona está separada.
• Widowed: la persona es viuda.
• Married-spouse-absent: la persona aparece como casada en el registro, pero no se encuentra a
ninguna pareja [3].
• Married-AF-spouse: la persona está casada con alguien de las fuerzas armadas.
occupation: variable categórica que describe el tipo de profesión que tiene la persona. Puede tomar los va-
lores Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners,
Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv,
Armed-Forces.
relationship: variable que contiene el valor que puede tomar la relación de una persona con respecto a
otra dentro de una familia. Contiene solo un valor por instancia del dato. Estos valores pueden ser Wife
(Esposa), Own-child (hijo propio), Husband (marido), Not-in-family (sin familia), Other-relative (otro
tipo de familiar) y Unmarried (soltero).Marta Gómez y Braulio Vargas
3
race: valor que describe la raza de la persona. Puede ser White (Blanco), Asian-Pac-Islander (asíatico
o de las islas del pacífico), Amer-Indian-Eskimo (indio americano o esquimal), Other (otro) y Black
(negro).
sex: sexo de la persona, Female (mujer) o Male (hombre).
capital-gain: registro de la ganancia de capital de la persona.
capital-loss: registro de la pérdida de capital de la persona.
hours-per-week: corresponde a las horas de trabajo a la semana.
country: país de pertenencia. En este caso, hay una mayor variedad de valores, siendo los siguientes:
United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc),
India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam,
Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia,
Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru,
Hong, Holand-Netherlands, o lo que es lo mismo, Estados-Unidos, Colombia, Inglaterra, Puerto-Rico,
Canada, Alemania, Estados supervisados de los Estados Unidos, India, Japón, Grecia, Sudáfrica, China,
Cuba, Irán, Honduras, Filipinas, Italia, Polonia, Jamaica, Vietnam, México, Portugal, Irlanda, Francia,
República Dominicana, Laos, Ecuador, Taiwn, Haití, Colombia, Hungría, Guatemala, Nicaragua, Escocia,
Tailandia, Yugoslavia, El Salvador y Trinidad-Tobago.
income: corresponde al valor que queremos predecir, puede tomar los valores “<=50K” o “>50K”

Usaremos os seguintes modelos para para treinar o nosso modelo:
* **Regressão Logística**
* **Random Forest**
* **Support Vector Machine**
* **KNN**

#### Regressão logística ####
<ul>
<li>Método baseado em supervised learning;</li>
<li>Utilizado em problemas de classificação (apesar do nome...);</li>
<li>Lida a probabilidade 0 <= p <= 1 de cada amostra pertencer a uma determinada classe.</li>
</ul>
<img src="img/imagens/logistic_regression.jpeg">

### 1 - Bibliotecas a serem utilizadas

#### Caso não tenha a bibilioteca, instalar com o seguinte comando no kernel do Jupyter:
import sys
!{sys.executable} -m pip install nome_do_pacote

In [10]:
import pandas as pd
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
# LABELENCODER: TRANSFORMAR ATRIBUTOS CATEGORICOS EM ATRIBUTOS DISCRETOS
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import confusion_matrix, accuracy_score
# Algoritmo NaiveBayes
from sklearn.naive_bayes import GaussianNB
# Algoritmo Arvore de Decisao
from sklearn.tree import DecisionTreeClassifier
# Algoritmo SVM (Suport Vetor Machine)
from sklearn.svm import SVC
# modulo para SELECAO DE ATRIBUTOS (FEATURES SELECTION)
# from sklearn.feature_selection import SelectKBest, chi2
from sklearn.ensemble import ExtraTreesClassifier
# ou
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

# Algoritmo kNN
from sklearn.neighbors import KNeighborsClassifier

# Algoritimo Random Forest
from sklearn.ensemble import RandomForestClassifier


from sklearn.model_selection import cross_val_score



# importar graphviz: para construção do gráfico para a árvore de decisão
from sklearn.tree import export_graphviz

#make a string that holds most of the folder path
graph_folder_path = 'dados/graficos/'

warnings.filterwarnings('ignore')

<a id='teste'></a>

## Importação dos dados

*   A base de treino e teste não vem com o nome da coluna, portanto colocaremos os nomes das colunas manualmente.
*   Com a utilização da função do Pandas [read_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html), um dos parâmetros utilizados é o separador \* , *

*   Para as informações com <i>missing values</i> indicadas por **'?'**, usaremos o parâmetro **na_values**  para indicar esses <i>missing values</i> 
*   O dataset de teste contém informação não válida na primeira linha (|1x3 Cross validator). Vamos usar o parâmetro **skiprows=1** para "pular" esta linha

In [11]:
# no arquivo original (adult.data) do site, incluir, manualmente, o parâmetro coluna
col_names = ["age", "workclass", "fnlwgt", "education", "education-num",
                 "marital-status", "occupation", "relationship", "race",
                 "sex", "capital-gain", "capital-loss", "hours-per-week",
                 "native-country", "income"]

In [84]:
treino = pd.read_csv('dados/adult.data', header=None, names=col_names, na_values = (" ?", "?", ""))
treino.shape # 32561, 15 (32561 instancias e 15 atributos). Atributo classe: income

(32561, 15)

## DESCRIÇÃO DOS DADOS

In [85]:
treino.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [86]:
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    31978 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## Estatísticas descritivas

#### Atributos quantitativos

In [97]:
treino.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [115]:
# classificado em 5 intervalos (agrupamentos)
treino['capital-gain'].value_counts(bins=5)

(-100.0, 19999.8]     32308
(79999.2, 99999.0]      159
(19999.8, 39999.6]       92
(39999.6, 59999.4]        2
(59999.4, 79999.2]        0
Name: capital-gain, dtype: int64

#### Atributos qualitativos

In [100]:
treino['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [101]:
treino['education'].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [102]:
treino['marital-status'].value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64

In [103]:
treino['occupation'].value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [104]:
treino['relationship'].value_counts()

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64

In [105]:
treino['race'].value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [106]:
treino['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

In [121]:
# A função nlargest exibe os n maiores em quantidade. Se quiser exibir todos, deve-se apagar esta função.
treino['native-country'].value_counts().nlargest(10)
# treino['native-country'].value_counts()

 United-States    29170
 Mexico             643
 Philippines        198
 Germany            137
 Canada             121
 Puerto-Rico        114
 El-Salvador        106
 India              100
 Cuba                95
 England             90
Name: native-country, dtype: int64

In [108]:
treino['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [109]:
treino['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [89]:
teste = pd.read_csv('dados/adult.test', header=None, names=col_names, skiprows =1, na_values = (" ?", "?", ""))
# test_data = pd.read_csv('adult.test', names = columns, sep=' *, *', skiprows =1, na_values='?')

In [90]:
teste.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.

In [91]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
age               16281 non-null int64
workclass         15318 non-null object
fnlwgt            16281 non-null int64
education         16281 non-null object
education-num     16281 non-null int64
marital-status    16281 non-null object
occupation        15315 non-null object
relationship      16281 non-null object
race              16281 non-null object
sex               16281 non-null object
capital-gain      16281 non-null int64
capital-loss      16281 non-null int64
hours-per-week    16281 non-null int64
native-country    16007 non-null object
income            16281 non-null object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

In [ ]:
# para adaptar no caso de valores nulos
media_de_idade = df_train['Age'].mean()
df_train.loc[df_train['Age']==133, 'Age'] = media_de_idade

In [ ]:
# visualize variable interactions
sns.pairplot(treino)

## TRATAMENTO DOS DADOS

### Strategies for handling missing values

Here we do data preprocessing also:
Remove FNLWGT and EDUCATION-NUM attributes as they are of little use to our analysis.
EDUCATION-NUM is the duplicate of EDUCATION.
The missing values in the adult dataset are marked by ‘?’.We can implement these two strategies
for handling the missing values in the adult dataset:
1. Deleting all the rows containing the missing value. This seems a far-fetched method but
we only lose a couple thousand observations when we have a pool of more than forty
thousand.
2.This could have also been done by replacing the missing value
- By the most common value in that column - for categorical attributes
- By averaging (taking the mean) - for continuous attributes.


We apply these two strategies to produce two sets of adult dataset. Namely – <u>dataset-removed-
missing.csv</u> and <u>dataset-replaced-missing.csv</u>

Input: dataset-data+test.csv <br>
adult.data.csv <br>
adult.test.csv <br>
Output: dataset-replaced-missing.csv <br>
Dataset-removed-missing.csv <br>
The input files are provided in the INPUT folder. The output files generated are there as an
example.

#### Existem atributos com missing: 'workclass', 'occupation', 'native.country'

We can see that the columns have a good fill rate. We'll remove the rows that have empty values and also remove the education_num column as it contains the same information, such as education and its unique codes:>>> data = data.dropna(how='any')>>> del data['education_num']

In [92]:
treino.count(0)/treino.shape[0] * 100

age               100.000000
workclass          94.361353
fnlwgt            100.000000
education         100.000000
education-num     100.000000
marital-status    100.000000
occupation         94.339854
relationship      100.000000
race              100.000000
sex               100.000000
capital-gain      100.000000
capital-loss      100.000000
hours-per-week    100.000000
native-country     98.209514
income            100.000000
dtype: float64

In [93]:
# tratar valores missing
# Verificar se tem valores nulos: 
print(treino.apply(lambda x: sum(x.isnull()), axis = 0)) # retornaram nulos

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [94]:
treino.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [34]:
# O problema é que tem informacoes com "?"
# Replace all " ?" with NaN and then drop rows where NaN appears
treino_trat = treino.replace(' ?', np.nan).dropna()
print("número de instancias removidas:", len(treino) - len(treino_trat))
print("Total de instancias resultante:", len(treino_trat))

número de instancias removidas: 2399
Total de instancias resultante: 30162

## HIPÓTESES

Hypothesis 1: People who are older earn more
    Conclusão: We can see that people who earn above $50K are mostly aged between their late 30s and mid 50s, whereas people who earn less than $50K are primarily  aged between 20 and 30

Hypothesis 2: Income bias based on working class: distribution of people earning more than $50K between different working class groups 
    Conclusão: We see that people who are self-employed and have a company have got the maximum share of people who earn more than $50K. The second most well-off group in terms of earning are federal government employees

Hypothesis 3: People with more education earn more.
    Conclusão: We can see that the more the person is educated, the greater the number of people in their group who earn more than $50K

Hypothesis 4: Married people tend to earn more
    Conclusão: We can see that people who are married earn better as compared to people who  are single.

Hypothesis 5: There is a bias in income based on race
    Asian Pacific people and Whites have the highest earning power

Hypothesis 6: There is a bias in the income based on occupation
    We can see that people who are in specialized or managerial positions earn more

Hypothesis 7: Men earn more
    It's no surprise to see that males have a higher earning power as compared to females. It will be good to see the two bars at an equal level sometime in the future

Hypothesis 8: People who clock in more hours earn more
    We can see that people who earn more than $50K and less than this have an average of 40 working hours per week, but it can be seen that people who earn above $50K have a higher number of people who work more than 40 hours
    
Hypothesis 9: There is a bias in income based on the country of origin
    We can see that Taiwanese, French, Iranians, and Indians are the most well-earning people among different counties

In [ ]:
# Para a base de teste, após verificar qual a melhor forma de tratar os dados:
data_test = data_test.dropna(how='any')

In [ ]:
# ===== DIVISÃO DOS ATRIBUTOS EM PREVISORES E CLASSE
previsores = census_trat.iloc[:,0:14].values
classe = census_trat.iloc[:,14].values

In [ ]:
# LABELENCODER: TRANSFORMAR ATRIBUTOS CATEGORICOS EM ATRIBUTOS DISCRETOS (numericos) 
#  Selecionar somente atributos com dados categoricos
census.dtypes # para ver quem sera transformados; object

labelencoder = LabelEncoder()
previsores[:, 1] = labelencoder.fit_transform(previsores[:, 1])
previsores[:, 3] = labelencoder.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder.fit_transform(previsores[:, 6])
previsores[:, 7] = labelencoder.fit_transform(previsores[:, 7])
previsores[:, 8] = labelencoder.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder.fit_transform(previsores[:, 9])
previsores[:, 13] = labelencoder.fit_transform(previsores[:, 13])

In [ ]:
# LABELENCODER: TRANSFORMAR ATRIBUTOS CATEGORICOS EM ATRIBUTOS DISCRETOS 
# ficou codificado assim: <= 50 =0. E > 50 = 1
labelencoder_classe = LabelEncoder()
classe = labelencoder_classe.fit_transform(classe)

In [ ]:
# ==============================================================================
# TRANSFORMAÇÃO DE VARIÁVEIS CATEGÓRICAS II: Variáveis Dummy:
# ==============================================================================
column_tranformer = ColumnTransformer([('one_hot_encoder', OneHotEncoder(), [1, 3, 5, 6, 7, 8, 9, 13])],remainder='passthrough')

In [ ]:
# ==============================================================================
# EXCLUIR ATRIBUTOS ESPELHOS: fnlwgt E education-num
# ==============================================================================

In [ ]:
# ==============================================================================
# SELECAO DE ATRIBUTOS
# ==============================================================================
# census_feature = SelectKBest(chi2, k='all')
census_selecao_col = ExtraTreesClassifier()
census_selecao_col.fit(previsores, classe)
print(census_selecao_col.feature_importances_)
# ou usando RFE: Recursive Feature Elimination
#feature extraction
census_selecao_col = LogisticRegression()
rfe = RFE(census_selecao_col, 4)
fit = rfe.fit(previsores, classe)

print(f"Num Features: {fit.n_features_} ")
print(f"Selected Features: {fit.support_} ")
print(f"Feature Ranking: {fit.ranking_} ")

In [ ]:
# ==============================================================================
# ========= PADRONIZAÇÃO DOS VALORES =================
# ==============================================================================
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

# ==============================================================================
# ============CRIAÇÃO DA BASE DE TREINAMENTO E BASE DE TESTE =================
# ==============================================================================
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(previsores,
                                                                  classe,
                                                                  test_size = 0.3,
                                                                  random_state = 0)

In [ ]:
# ================= USAR PARA TRABALHO NA PUC============
#- Naive Bayes Classifier
#- KNN (lazy.Ibk)
#- REPTree (Arvore de Decisão)
#- SMO (mais demorado)
#- Regressão Logistica

# ==============================================================================
# NAIVE BAYES
# ==============================================================================
naive_bayes = GaussianNB()
naive_bayes.fit(X_treinamento, y_treinamento)

previsoes_bayes = naive_bayes.predict(X_teste)
confusao_bayes = confusion_matrix(y_teste, previsoes_bayes)
taxa_acerto_bayes = accuracy_score(y_teste, previsoes_bayes)
#taxa_erro_bayes = 1 - taxa_acerto_bayes

# ==============================================================================
# kNN: Vizinhos mais próximos
# ==============================================================================

#parameters_knn = {"n_neighbors": (3, 5, 6, 8, 10, 15),"weights": ("uniform", "distance")}
knn = KNeighborsClassifier(n_neighbors=15,weights="distance")
knn.fit(X_treinamento, y_treinamento)
previsoes_knn = knn.predict(X_teste)
confusao_knn = confusion_matrix(y_teste, previsoes_knn)
taxa_acerto_knn = accuracy_score(y_teste, previsoes_knn)
#taxa_erro_knn = 1 - taxa_acerto_knn


# ==============================================================================
# SVM: SUPORT VETOR MACHINE
# ==============================================================================

#parameters_svm = {"C": (0.1, 1, 5, 10), "kernel": ("rbf", "linear"), "gamma": (0.1, 0.5, 1)}
svm = SVC(C=10, kernel= "rbf", gamma= 0.5)
svm.fit(X_treinamento, y_treinamento)
previsoes_svm = svm.predict(X_teste)
taxa_acerto_svm = accuracy_score(y_teste, previsoes_svm)



#==============================

cross_val_model = LogisticRegression(random_state=0)
scores = cross_val_score(cross_val_model, X_treinamento, y_treinamento, cv=5)

#========



# ==============================================================================
# ARVORE DE DECISAO
# ==============================================================================
# parameters_dtree = {"criterion": ("gini", "entropy"), "max_depth": (None, 2, 3), "min_samples_split": (2, 3, 4)}
# parameters_dtree = 'criterion="gini", max_depth=3, min_samples_split=4'
arvore = DecisionTreeClassifier(criterion="gini", max_depth=3, min_samples_split=4)
arvore.fit(X_treinamento, y_treinamento)

export_graphviz(arvore, out_file = 'dados/tree.dot')
# Para ver o gráfico em árvore gerado, acessar o link abaixo e copiar o conteúdo de tree.dot
# http://www.webgraphviz.com/

previsoes_arvore_dec = arvore.predict(X_teste)
confusao_arvore_dec = confusion_matrix(y_teste, previsoes_arvore_dec)
taxa_acerto_arvore_dec = accuracy_score(y_teste, previsoes_arvore_dec)
#taxa_erro_arvore_dec = 1 - taxa_acerto_arvore_dec

# Opcionalmente, podemos ver a matriz de confusção com o uso do pacote yellowbrick

from yellowbrick.classifier import ConfusionMatrix
v = ConfusionMatrix(DecisionTreeClassifier())
v.fit(X_treinamento, y_treinamento)
v.score(X_teste, y_teste)
v.poof()





# ==============================================================================
# Random Forest
# ==============================================================================

floresta = RandomForestClassifier(n_estimators = 100)
floresta.fit(X_treinamento, y_treinamento)
previsoes_floresta = floresta.predict(X_teste)
confusao_floresta = confusion_matrix(y_teste, previsoes_floresta)
taxa_acerto_floresta = accuracy_score(y_teste, previsoes_floresta)

floresta.estimators_  # exibir as 100 arvores
floresta.estimators_[1]  # visualizar uma arvore, em especifico

* Comece a explorar os dados, listando os ultimos registros do dataframe.

Vendo os tipos de dados de cada coluna

In [ ]:
df_train.dtypes

O tipo "object" é uma string para o pandas. Este tipo de dado não pode ser facilmente utilizado em algoritmos de machine learning. Guarde em mente que se vamos utilizar estas colunas como atributos de nosso modelo precisaremos transformá-las em representações numéricas.

Vamos verificar mais algumas informações sobre o dataframe:

In [ ]:
print ("Tamanho do dataframe", len(df_train))
df_train.info()

Podemos observar que as colunas Age, Cabin e Embarked possuem valores nulos. A coluna Age possui 177, a coluna Cabin 687 e a coluna Embarked somente 2. Devido ao elevado número de valores nulos, a coluna Cabin talvez não acrescente valor aos modelos gerados. Como possuem poucos valores nulos, as colunas Age e Embarked podem ser utilizadas após tratamento que veremos mais adiante.

Vamos verificar mais algumas estatísticas (note que somente serão exibidas estatísticas de colunas numéricas):

* Chame o metodo "describe()" do dataframe para realizar a verificacao

Agora vamos gerar alguns histogramas das variáveis usando matplotlib.

In [ ]:
fig = plt.figure(figsize=fizsize_with_subplots) 
fig_dims = (3, 2)

# Mortes x Sobreviventes
plt.subplot2grid(fig_dims, (0, 0))
df_train['Survived'].value_counts().plot(kind='bar', title='Mortos x Sobreviventes')

# Classe do passageiro
plt.subplot2grid(fig_dims, (0, 1))
df_train['Pclass'].value_counts().plot(kind='bar', title='Classe do passageiro')

# Gênero
plt.subplot2grid(fig_dims, (1, 0))
df_train['Sex'].value_counts().plot(kind='bar', title='Genero')
plt.xticks(rotation=0)

# Porto de embarque
plt.subplot2grid(fig_dims, (1, 1))
df_train['Embarked'].value_counts().plot(kind='bar', title='Porto de embarque')

# Idade
plt.subplot2grid(fig_dims, (2, 0))
df_train['Age'].hist()
plt.title('Idade')

# Tarifa
plt.subplot2grid(fig_dims, (2, 1))
df_train['Fare'].hist()
plt.title('Tarifa')

In [ ]:
O que aconteceu com o histograma de Tarifa ?

Temos claramente a presença de outliers neste atributo. Para utilizar então a informação de tarifa em nossos modelos temos que tratar esta característica.

Vamos agora analisar algumas características individualmente.

#### Gênero (Sex)

In [ ]:
# Cria uma tabela utilizando a função crosstad do pandas
sex_val_ct = pd.crosstab(df_train['Sex'], df_train['Survived'])
# Normaliza a tabela para a soma dar 1
sex_val_ct_pct = sex_val_ct.div(sex_val_ct.sum(1).astype(float), axis=0)
# Exibe o gráfico
sex_val_ct_pct.plot(kind='bar', stacked=True, title='Taxa de sobrevivencia por genero')

# 04 - Criando Modelos de Classificacao

Vamos montar a matrix de atributos e o vetor de respostas que servirão de entrada para o treinamento

# 05 - Competicao de Modelos

In [ ]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

SEED = 13

In [ ]:
df = pd.read_csv("dados/titanic/train_cleaned.csv", sep=",")

Separa os dados em treinamento e teste

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df.loc[:, df.columns!='Survived'].values
y = df['Survived'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=SEED)

Criacao de um dicionario que ira possuir como chave o nome do classificador e como valor o respectivo objeto

In [ ]:
classifiers = {
    'LR' : LogisticRegression(),
    'SVM': SVC(),
    'Decision Tree' : DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'KNN' : KNeighborsClassifier(),
    'MLP': MLPClassifier()
}

In [ ]:
parameters = {
    'LR' : dict(solver=['newton-cg', 'lbfgs', 'liblinear', 'sag']),
    'SVM': dict(gamma=np.logspace(-5, 4, 10), C=np.logspace(-2, 6, 9)),
    'Decision Tree' : dict(max_depth=np.arange(5,100, 20) ),
    'Random Forest': dict(n_estimators=np.arange(5,100, 20)),
    'KNN' : dict(algorithm=['auto', 'ball_tree', 'kd_tree', 'brute'], n_neighbors=np.arange(5,20,5)),
    'MLP': dict(activation=['logistic'], 
                  alpha=np.logspace(-4, -1, 4),
                  hidden_layer_sizes=[(3), (2)],
                  learning_rate_init=np.logspace(-4, -1, 4), momentum=np.arange(0,1, 10),
                  solver=['lbfgs'], tol=np.logspace(-4, -2, 3))
    }

In [ ]:
def best_parameters(clf, name, X, y, parameters):
    print("Avaliando melhores parametros para ", name)
    grid = GridSearchCV(clf, param_grid=parameters, cv=cv)
    grid.fit(X, y)
    print("Os melhores parametros do classificador %s sao %s com um score de %0.6f"
        % (name, grid.best_params_, grid.best_score_))
    return grid

In [ ]:
cv = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=42)

In [ ]:
est_score = 0
for key,val in classifiers.items():
    grid = best_parameters(val, key, X_train, y_train, parameters[key] )
    #clf = val.set_params(**grid.best_params_)       
    #clf.fit(X_train, y_train)
    #y_pred = clf.predict(X)    
    if grid.best_score_ > best_score:        
        the_best = key
        best_score = grid.best_score_
        
print("O melhor modelo foi: ", the_best, " com um score de ", best_score)

# Exploratory Data Analysis

## Cleaning the data

## Handing Numerical Attributes

**Data Visualizations**

**Observations**

* None of the numerical attributes have missing values 
* The values are on different scales. Many machine learning models require the features to be on the same scale. 
* We can see that there are many outliers present in the data, we will use [StandardScaler](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html) from sklearn library

## Handling Categorical Attributes

**Data-visualizations**

**Observations**

* All the variables are self-explanatory. 
* The column **education** is just a string representation of the column  **education-num**. We will drop the **education** column 
* The variables **workClass**, **occupation**, **native-country** have missing values. We will replace the missing values in each column with the **most_frequent** occurring value of that column.

# Building the Model

## Training the model

# Testing the model

# Model Evaluation

# Cross Validation

# Fine Tuning the Model

# Saving the model to pickle

We have done all the hard work of creating and testing the model. It would be good if we could save the model for future uses rather than retrain it. We will save our model in the [pickle](https://docs.python.org/2/library/pickle.html).

In [ ]:
filename = 'final_model.sav'
pickle.dump(model, open(filename, 'wb'))

Loading the model from pickle

In [ ]:
saved_model = pickle.load(open(filename, 'rb')) 
print(saved_model)

In [ ]:
Now you can predict using the saved model.

# Fonte

Dua, D. and Graff, C. (2019). [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml). Irvine, CA: University of California, School of Information and Computer Science.

Mastering Python for Data Science (English Edition) .  por Samir Madhavan (Autor). Packt.Mastering.Aug.2015.ISBN.1784390151.